/* StAuth10244: I, Rijan Maharjan, 000923274 certify that this material is my original work. No other person's work has been used without due acknowledgement. I have not made my work available to anyone else. */
body {
  font-family: Arial, sans-serif;
  margin: 20px;
  min-width: 320px;
  min-height: 100vh;
  background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  text-align: center;
}

h1 {
  color: white;
}

p{
    color: #f0f0f0;
}

.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 12px;
  margin-top: 20px;
}

.card {
  width: 40px;
  height: 75px;
  border-radius: 10px;
  background-color: white;
  border: 1px solid #333;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 8px;
  font-size: 20px;
  cursor: pointer;
  box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s, box-shadow 0.2s;
  color: #333;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 25px rgba(15, 23, 42, 0.18);
}

.card-value {
  text-align: left;
  font-weight: bold;
}

.card-suit {
  text-align: right;
  font-size: 16px;
}

.picked {
  outline: 3px solid #ffc107;
  border-radius: 12px;
  background: rgba(255, 193, 7, 0.1);
}

.deck {
  margin: 20px auto;
  width: 140px;
  height: 90px;
  background: repeating-linear-gradient(
    180deg,
    #ab1717 0px,
    #3c043c 5px,
    #200721 15px,
    #3c043c 20px
  );
  border-radius: 12px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  user-select: none;
  position: relative;
}

.buttons {
  margin: 20px auto;
  display: flex;
  justify-content: center;
  gap: 12px;
}

button {
  padding: 10px 20px;
  font-size: 10px;
  cursor: pointer;
  border-radius: 6px;
  border: none;
  color: white;
  transition: background 0.2s;
}

button.blue {
  background-color: #007bff;
}

button.blue:hover {
  background-color: #0056b3;
}

button.red {
  background-color: #c91f30;
}

button.red:hover {
  background-color: #ff0019;
}

button.green {
  background-color: #1e8035;
}

button.green:hover {
  background-color: #1c7430;
}

button.yellow {
  background-color: #ffb700;
  color: #000000;
}

button.yellow:hover {
  background-color: #f59300;
}

button.grey {
  background-color: #596067;
}

button.grey:hover {
  background-color: #33383c;
}

button:hover {
  transform: scale(1.05);
  background-color: #0056b3;
}

.card-area {
  background: rgba(255, 255, 255, 0.1);
  border: 2px dashed rgba(255, 255, 255, 0.5);
  color: rgba(255, 255, 255, 0.7);
  padding: 2rem;
  border-radius: 8px;
  text-align: center;
  min-height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 12px;
}

.no-cards {
  font-size: 12x;
  color: #ffffff;
  font-style: italic;
  margin-top: 20px;
}

.deck-count {
    font-size: 12px;
    color: #ccc;
}
